django-environ>=0.4.5
environ>=1.0
pytz>=2019.3
sqlparse>=0.3.0
Django>=2.0,<3.0
psycopg2>=2.7,<3.0
django-bootstrap4==1.0.1
django-wysiwyg==0.8.0
pillow==9.3.0
easy-thumbnails==2.6
django-cleanup==4.0.0
django-ckeditor==5.8.0


