{%extends 'news/base_news.html'%}
{% load thumbnail %}
{%block title%}
    {{post.title}}-{{block.super}}
{%endblock%}
{%block content%}
    {% if post.image %}
        <img class="main-image" src="{{post.image.url }}" alt="">
    {% endif %}
    <h1 class="mt-5">{{post.title}}</h1>
    <p>{{post.body | safe}}</p>
    {% if request.user.is_authenticated and not request.user.is_staff %}
        <div class="align-item-center">
            <div class="btn-group">
                <div>
                    <a href="{{ admin_object.get_update_url }}" class="btn btn-light update" style="{% if detail %}display:block;{% endif %}">Update</a>
                </div>
                <div>
                    <a href="{{ admin_object.get_delete_url }}" class="btn btn-danger delete ml-3" style="{% if detail %}display:block;{% endif %}">Delete</a>
                </div>
            </div>
        </div>
    {% endif %}
{%endblock%}