{% extends "base.html" %}
{% block title %} User profile {% endblock %}
{% block content %}
<h2>{{ user.usernarne }} User profile</h2>
{% if user.first_name and user.last_name %}
<p>Hello, {{ user.first_name }} {{ user.last_name}}!</p>
{% else %}
<p>Hello!</p>
{% endif %}
    <p><a href="{% url 'news:post_create_url' %}">Add post</a></p>
{% if posts %}
    <h3>Your posts:</h3>
    <ul class="list-unstyled">
    {% for post in posts %}
        {%include 'news/includes/post_card_template.html'%}
    {% endfor %}
</ul>
{% endif %}
{% endblock %}